# Spotify API credentials
SPOTIFY_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SPOTIFY_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# IMPORTANT - NEXTAUTH_URL redirect post auth
## https://next-auth.js.org/configuration/options
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

METADATA_BASE_URL=http://localhost:3000